doctype
html
  block head
  head
    title Test
    link(rel='stylesheet', href='assets/css/styles.css')
  body
    h1 Hello World
    h3 You are neat
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
    script(src='app.js')